* {
    /*font-family:'MTN Brighter Sans';*/
}

body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /*color: #ce2929;*/
    background: #c3c7ca;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 14px;
    overflow-y: auto !important;
}

.col-md-offset-2 {
    margin-left: 0%;
}

.notification {
    background-color: #006699;
    min-height: 40px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    box-shadow: 10px 10px 5px #888888;
}

.sectionContainer {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.file-upload {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    font-family: Arial;
    /*background: #007dc1;*/
    color: #fff;
    border-radius: 5px;
    border: solid 2px #4c8faf !important;
    -moz-border-radius: 6px;
    cursor: pointer;
    text-shadow: #000 1px 1px 2px;
    -webkit-border-radius: 6px;
}

    .file-upload:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
        background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
        background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
        background-color: #0061a7;
    }

/* The button size */
.file-upload {
    height: 50px;
}

    .file-upload img {
        height: 30px;
        margin-top: -30px
    }

    .file-upload, .file-upload span {
        width: 50%;
    }

        .file-upload input {
            top: 0;
            left: 0;
            margin: 0;
            font-size: 11px;
            font-weight: bold;
            /* Loses tab index in webkit if width is set to 0 */
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .file-upload strong {
            font: normal 12px Tahoma,sans-serif;
            text-align: center;
            vertical-align: middle;
        }

        .file-upload span {
            top: 0;
            left: 0;
            display: inline-block;
            /* Adjust button text vertical alignment */
            padding-top: 5px;
        }

.dealblock img {
    width: 100%;
    float: left;
}

.Deal-section.owl-carousel .owl-wrapper-outer {
    width: 40%;
    margin: 0 auto;
}

.Deal-section {
    margin: 0 auto;
    display: block;
    text-align: center;
}

#grad1 {
    background: #ffffff;
    border-radius: 5px !important;
}

    #grad1 h2 {
        color: #4c8faf !important;
        text-decoration: underline solid;
    }
.successMessage {
    color: #4c8faf !important;
    font-size: 20px;
    font-weight: 600;
}
#msform {
    text-align: center;
    position: relative;
}

.action-button:active, .action-button:active, .action-button:hover, .action-button:hover {
    animation: gradient 120ms;
    background: #232323;
    color: #fff !important;
    box-shadow: none;
}

#msform fieldset .form-card {
    background: #FFF;
    border: 0 none;
    border-radius: 20px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    /*padding: 20px 40px 30px 40px;*/
    box-sizing: border-box;
    width: 94%;
    margin: 5% 3% 20px 3%;
    position: relative
}

#msform fieldset {
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform fieldset .form-card {
        text-align: left;
        color: #9E9E9E;
        display: inline-block;
    }

.action-button-next {
    background-color: #FFBE00 !important;
}

#msform [type=text],
#msform [type=date],
#msform textarea {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    /*margin-bottom: 15px;*/
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #232323;
    font-size: 15px;
    letter-spacing: -0.7px;
    padding: 10px !important;
    height: 28px;
    border-radius: 5px;
    border: solid 1px #9b9b9b;
    background-color: #ffffff;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-left: 0px;
}

#msform select {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    /*margin-bottom: 15px;*/
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #232323;
    font-size: 15px;
    letter-spacing: -0.7px;
    height: 28px !important;
    border-radius: 5px;
    border: solid 1px #9b9b9b;
    background-color: #ffffff;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-left: 0px;
}

.ListControl input[type=checkbox], input[type=radio] {
    display: none;
}

/*.ListControl label {
    display: inline;
    float: left;
    color: #000;
    cursor: pointer;
    text-indent: 20px;
    white-space: nowrap;
}*/

.ListControl input[type=checkbox] {
    display: block;
    width: 1em;
    height: 1em;
    border: 0.0625em solid rgb(192,192,192);
    border-radius: 0.25em;
    vertical-align: middle;
    line-height: 1em;
    font-size: 14px;
}

    .ListControl input[type=checkbox]:checked + label::before {
        content: "\2714";
        color: #fff;
        height: 1em;
        line-height: 1.1em;
        width: 1em;
        margin-right: 6px;
        margin-left: -20px;
    }

.ListControl input[type=radio] {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 0.0625em solid rgb(192,192,192);
    border-radius: 1em;
    font-size: 14px;
    
}

    .ListControl input[type=radio]:checked + label::before {
        content: "\2716";
        color: #fff;
        display: inline;
        width: 1em;
        height: 1em;
        margin-right: 6px;
        margin-left: -20px;
    }

.ListControl {
    text-align: left;
    margin-bottom: 20px;
}

    .ListControl label {
        width: 30% !important;
        display: inline-block !important;
        text-align: left;
        margin-left: 5px;
    }

    .ListControl input[type=checkbox] {
        width: 2em !important;
        height: 2em;
        display: inline-block !important;
    }

#msform .saveButton:hover, #msform .action-button-next:hover,
#msform .saveButton:focus, #msform .action-button-next:focus {
    animation: gradient 120ms;
    background: #4c8faf;
    color: #fff !important;
    box-shadow: none;
}

.saveButton {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    box-sizing: border-box;
    color: #232323;
    font-size: 16px;
    letter-spacing: -0.7px;
    width: 30% !important;
    height: 40px !important;
    border-radius: 5px;
    border: solid 1px #4c8faf !important;
    background-color: #ffffff;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-left: 0px;
}

.tableButton {
    padding: 0px 8px 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    margin: 10px 0px 10px 0px;
    width: 50%;
    box-sizing: border-box;
    color: #232323;
    font-size: 16px;
    letter-spacing: -0.7px;
    width: 30% !important;
    height: 40px !important;
    border-radius: 5px;
    border: solid 1px #4c8faf !important;
    background-color: #ffffff;
    display: inline;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    margin-left: 0px;
}

.editButton {
    width: 2em;
}

.deleteButton {
    width: 2em;
}


#msform .cancelButton:hover, #msform .action-button-next:hover,
#msform .cancelButton:focus, #msform .action-button-next:focus {
    animation: gradient 120ms;
    background: #ffa726;
    color: #fff !important;
    box-shadow: none;
}

.cancelButton {
    border: solid 1px #ffa726 !important;
}

.buttonSession.OTPSession {
    width: 100%;
}

.otpBack {
    float: none !important;
    margin: 0 auto !important;
    display: block !important;
    margin-top: 20px !important;
}

span.ash {
    position: absolute;
    color: #C80100;
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 4px solid #4c8faf;
    outline-width: 0
}

.callMeBack {
    margin: 0 auto;
    display: block !important;
}

.buttonSession {
    margin: 0 auto;
    display: block !important;
    width: 50%;
}

#msform .action-button {
    background: #FFBE00;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #202020 !important;
    border-radius: 32px;
    height: 48px;
    padding: 10px 30px;
    margin-right: 20px;
    font-family: "MyriadProSemibold" !important;
    margin: 0 auto;
    display: inline-block;
    width: 232px;
    padding: 7px;
    margin-top: 30px;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba( 32, 32, 32, 0 ) 0%, #fff 0%, #fff 100%);
    }

    25% {
        background: radial-gradient(circle at center, rgba( 32, 32, 32, 0.3 ) 24%, #fff 25%, #fff 100%);
    }

    50% {
        background: radial-gradient(circle at center, rgba( 32, 32, 32, 0.5 ) 49%, #fff 50%, #fff 100%);
    }

    75% {
        background: radial-gradient(circle at center, rgba( 32, 32, 32, 0.8 ) 74%, #fff 75%, #fff 100%);
    }

    100% {
        color: #fff;
        background: radial-gradient(circle at center, #202020 99%, #fff 100%, #fff 100%);
    }
}

#msform .action-button:hover, #msform .action-button-next:hover,
#msform .action-button:focus, #msform .action-button-next:focus {
    animation: gradient 120ms;
    background: #232323;
    color: #fff !important;
    box-shadow: none;
}

.aspNetDisabled {
    color: #9b9b9b !important;
    cursor: not-allowed !important;
}

#msform .action-button-previous {
    background: #616161;
    padding: 10px 5px;
    margin: 10px 5px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 32px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #fff !important;
    border-radius: 32px;
    border: solid 1px #000000;
    height: 48px;
    padding: 10px 30px;
    margin-right: 20px;
    font-family: "MyriadProSemibold" !important;
    /*margin: 0 auto;*/
    display: block;
    width: 232px;
    padding: 7px;
    margin-top: 30px;
    float: left;
}

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
    }

.ashRequired::after {
    content "*";
    color: red;
}

p.text-center.black a {
    color: #232323;
    text-decoration: underline;
}

span.ash {
}

.form-group div.buttonsSession {
    margin: 0 auto;
    display: block;
    width: 75%;
}

select.list-dt {
    border: none;
    outline: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 5px 3px 5px;
    margin: 2px;
    width: 100%;
    height: 25px;
    background-color: #fff !important;
    display: block;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 10px;
    color: #252421;
    margin-bottom: 5px;
    -moz-box-shadow: inset 0 0 10px #ebebeb;
    -webkit-box-shadow: inset 0 0 10px #ebebeb;
    box-shadow: inset 0 0 10px #ebebeb;
    border: solid 1px #9b9b9b;
    background: url(/en/Documents/Share/chevron-light-right.png) no-repeat 95% 55% #fff;
    display: inline;
    font-family: '-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol';
}

.fileUpload {
    width: auto !important;
    background: none !important;
    border: none !important;
    color: #232323 !important;
    height: auto !important;
    cursor: pointer;
}

::-webkit-file-upload-button {
    background: #FFBE00;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 25px;
    height:;
}

input[type="file"]::-ms-browse {
    background: #FFBE00;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 25px;
    height:;
    -webkit-appearance: none;
}

input[type="file"] {
    -webkit-appearance: none;
    text-align: left;
    -webkit-rtl-ordering: left;
    background: #FFBE00;
    border-radius: 25px;
}

    input[type="file"]::-webkit-file-upload-button {
        background: #FFBE00;
        border-radius: 25px;
        -webkit-appearance: none;
        float:;
        margin: 0 0 0 0px;
        border: 1px solid #aaaaaa;
        border-radius: 4px;
    }

select.list-dt {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

    select.list-dt::-ms-expand {
        display: none;
    }

    select.list-dt:focus {
        border-bottom: 4px solid #4c8faf
    }

.help-tip {
    position: absolute;
    /*top: 18px;
    right: 18px;*/
    text-align: center;
    background-color: #FFBE00;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    margin-top: 30px;
    color: #232323;
}

    .help-tip:before {
        content: '?';
        font-weight: bold;
        color: #fff;
        font-size: 35px;
        margin-top: 10px;
        position: relative;
        top: 5px;
        float: left;
        margin: 0 auto;
        display: block;
        left: 8px;
        margin-bottom: 10px;
    }

.reference {
    font-family: 'MyriadProSemibold';
}

.help-tip:hover p {
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p { /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 300px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF !important;
    font-size: 13px;
    line-height: 1.4;
}

    .help-tip p:before { /* The pointer of the tooltip */
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom-color: #1E2021;
        right: 10px;
        top: -12px;
    }

    .help-tip p:after { /* Prevents the tooltip from being hidden */
        width: 100%;
        height: 40px;
        content: '';
        position: absolute;
        top: -40px;
        left: 0;
    }

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

.ban p {
    color: #232323;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative
}

.fs-title {
    font-size: 20px;
    color: #2C3E50;
    margin-bottom: 20px;
    /*font-weight: bold;*/
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #232323;
}

    #progressbar .active {
        color: #000000
    }

    #progressbar li {
        list-style-type: none;
        font-size: 12px;
        width: 20%;
        float: left;
        position: relative
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f023"
    }

    #progressbar #deal:before {
        font-family: FontAwesome;
        content: "\f00b"
    }

    #progressbar #address:before {
        font-family: FontAwesome;
        content: "\f003"
    }

    #progressbar #banking:before {
        font-family: FontAwesome;
        content: "\f09d"
    }


    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f09d"
    }

    #progressbar #confirm:before {
        font-family: font;
        content: "\f00c"
    }

    #progressbar .account:before {
        font-family: FontAwesome;
        content: "\f023"
    }

    #progressbar .deal:before {
        font-family: FontAwesome;
        content: "\f00b"
    }

    #progressbar .address:before {
        font-family: FontAwesome;
        content: "\f003"
    }

    #progressbar .banking:before {
        font-family: FontAwesome;
        content: "\f09d"
    }


    #progressbar .personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar .payment:before {
        font-family: FontAwesome;
        content: "\f09d"
    }

    #progressbar .confirm:before {
        font-family: font;
        content: "\f00c"
    }


    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 18px;
        color: #ffffff;
        background: #232323;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #232323;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #FFBE00
    }

.radio-group {
    position: relative;
    margin-bottom: 25px
}

.radio {
    display: inline-block;
    width: 204;
    height: 104;
    border-radius: 0;
    background: lightblue;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 2px
}

    .radio:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
    }

    .radio.selected {
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
    }

.fit-image {
    /* width: 100%; */
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.txtnamevalidation {
    /* display: none; */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.divDeviceImage {
    float: left;
    margin-right: 20px;
}

.errorMessage {
    display: block;
    float: left;
    text-align: left;
    position: relative;
    top: 0px;
}

label.txtFieldLabel {
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #252421;
    margin: 10px 0 0px 0;
    ;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.falloutScreen h5 {
    font-size: 17px;
    color: #232323;
    font-family: "MyriadProRegular";
}

.falloutScreen a {
    text-decoration: underline;
    color: #232323;
}

.falloutScreen h2.fs-title.text-center {
    font-size: 30px;
}

.falloutScreen h2 {
    font-size: 24px;
}

.txtnamevalidation {
    display: block;
    width: 100%;
}

    .txtnamevalidation.erroMessage {
        display: !important;
    }

.callback h2 {
    margin-left: -16.66666667%;
}

.callback .action-button {
}

@media screen and (max-width: 992px) {
    .successCol .form-card h5 {
        width: 85%;
    }

    .successCol .form-card p {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .reference {
        font-weight: bold;
    }

    .falloutScreen h2.fs-title.text-center {
        font-size: 26px;
    }

    .callback h2 {
        margin-left: auto;
    }

    .falloutScreen #grad1 h2 {
        font-size: 23px;
    }

    #msform input.fileUpload {
        padding-left: 3px !important;
    }

    #msform .action-button {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    #msform .action-button-previous, .buttonSession {
        width: 95%;
    }

    #msform fieldset .form-card {
        width: 100%;
        margin-left: 0;
    }

    select.list-dt, #msform input, #msform textarea {
        width: 97%
    }

    p.text-center.black {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .Deal-section.owl-carousel .owl-wrapper-outer {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .dealblock img {
        width: 100%;
        float: left;
    }

    .recaptcha {
        display: inline-block;
    }

    span.ash {
        position: absolute;
        color: #C80100;
        right: 0;
    }

    #msform fieldset .form-card {
        padding: 0;
    }

    .col-md-12.mx-0 {
        padding: 0px;
    }

    #msform input, #msform textarea {
        float: none;
    }

    .form-card .col-md-6 {
        1padding: 0px;
    }

    .g-recaptcha iframe {
        margin-left: 0px !important;
        width: 80vw;
    }

    #msform .action-button {
        display: block
    }

    #grad1 h2 {
        font-size: 20px;
        padding: 0px 15px;
    }
}

.successCol h5 {
    font-family: "MyriadProRegular";
    font-size: 16px;
    color: #232323;
}

.successCol .col-7.text-center p, .form-card .col-7.text-center p {
    font-family: "MyriadProRegular";
    color: #232323;
}

.form-card .col-7.text-center p, .form-card .col-7.text-center a {
    color: #232323;
}

.form-card .col-7.text-center h5::first-letter {
    text-transform: capitalize;
}

.form-card .col-7.text-center h5 {
    font-size: 17px;
    color: #232323;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #progressbar li {
        width: 19%;
    }

    .fileUpload {
        height: 65px !important;
        '-moz-appearance: none; -webkit-appearance: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none;
    }
}

table, th, td {
    border: 1px solid #dddddd !important;
}

.divRepeater {
    width: 97%;
}

.footable {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 40px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    margin: 0Px 20px 0px 20px;
    background-color: white;
    color: black;
    font-weight: 400;
}

    .footable thead tr {
        background-color: #4a9bd3;
        
        color: white;
        text-align: left;
    }
/*tr:nth-child(odd) {
    background-color: #f3f6f9;
}*/
    .footable th,
    .footable td {
        border: 1px solid #dddddd !important;
    }

    .footable tbody tr {
        /*border-bottom: 1px solid #dddddd;*/
    }

        .footable tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .footable tbody tr:last-of-type {
            /*border-bottom: 2px solid #009879;*/
        }

        .footable tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
.ListControl table, th, td {
    border: none !important;
}
.detailsDiv {
    border: solid 1px #9b9b9b;
    border-radius: 5px;
    margin: 15px;
    text-align: left;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
}
