<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="connIAPRAPI" connectionString="Data Source=MPHOTHEKISHO_LT\SQLEXPRESS;Initial Catalog=IAPR;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connIAPRData" connectionString="Data Source=MPHOTHEKISHO_LT\SQLEXPRESS;Initial Catalog=IAPR;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TiccetsAPI.Properties.Settings.connTiccetWeb" connectionString="Data Source=DRTDTHEKISHO\MSSQLSERVER2014;Initial Catalog=Ticcets_Web;User ID=Ticcets_Web_Acc;Password=1qaz@WSXwebTICCETS"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <!--<add key="SMTPServer" value="vitalstatistix.aserv.co.za" />
    <add key="SMTPport" value="465 " />
    <add key="SMTPServerAccount" value="support@ticcets.com" />
    <add key="SMTPServerPassword" value="Mpho2016Thekisho" />-->
    <add key="SMTPServer" value="smtp.ticcets.com"/>
    <add key="SMTPport" value="587"/>
    <add key="SMTPServerAccount" value="support@ticcets.com"/>
    <add key="SMTPServerPassword" value="Mpho2016Thekisho"/>
    <add key="RegularExpression_eMail" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
    <add key="RegularExpression_Password" value="^.*(?=.{8,20})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$"/>
    <add key="RegularExpression_Name" value="[a-zA-Z ]*$"/>
    <add key="GenCryptokey" value="L3nD0r1tYGen"/>
    <add key="ValCryptoKey" value="L3nD0r1tYVal"/>
    <add key="Application_URL" value="https://www.lendority.co.za"/>
    <add key="ApplicationDomain" value="lendority.co.za"/>
    <add key="Support_Email_Address" value="support@lendority.co.za"/>
    <!--Dev-->
    <!--<add key="PaymentGatewayuserId" value="8a82941857415866015747efd00d0fe9"/>
    <add key="PaymentGatewayPassword" value="rTXFgEX4w2"/>
    <add key="PaymentGatewayentityIdCards" value="8a82941857415866015747f0a7581007"/>
    <add key="PaymentGatewayentityIdPayPal" value="8a829417598e0bbe0159acf4016736fe"/>
    <add key="PaymentGatewayURL" value="https://oppwa.com/v1/payments"/>
    <add key="ShopperResultUrl" value="http://wwwdev.ticcets.com/account/"/>-->
    <!--Prod-->
    <add key="PaymentGatewayuserId" value="8a8394c358d838500158f23cb6746bfa"/>
    <add key="PaymentGatewayPassword" value="JCw5rKqdKE"/>
    <add key="PaymentGatewayentityIdCards" value="8a8394c358d838500158f23d69ba6c06"/>
    <add key="PaymentGatewayentityIdPayPal" value="8a8394c259acb9260159bb53103953ff"/>
    <add key="PaymentGatewayURL" value="https://oppwa.com/v1/payments"/>
    <add key="ShopperResultUrl" value="https://www.ticcets.com/account/"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules>
      <!--<add name="BasicAuthHttpModule" type="WebHostBasicAuth.Modules.BasicAuthHttpModule, IAPRAPI"/>-->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>